body{
    font-family: Roboto, arial, sans-serif;
}

.glyphicon { margin-right:5px;}
.rating .glyphicon {font-size: 22px;}
.rating-num { margin-top:0px;font-size: 54px; }
.progress { margin-bottom: 5px;margin-left:0px}
.progress-bar { text-align: left; }
.rating-desc .col-md-3 {padding-right: 0px;}
.sr-only { margin-left: 5px;overflow: visible;clip: auto; }

.jumbotron{
    border: 1px solid rgb(213, 204, 204);
}
.side-nav{
    background: white;
    border:1px solid rgb(218, 208, 208);
    padding: 4px;
    
}
.side-nav{
    width: 9%;
    border-radius: 2px;
    
}
.center{
    
    
    text-align: center;
}
.flashes{
    list-style: none;
}
.flash-error{
    color: #b94a48;
background-color: #f2dede;
border-color: #ebccd1;
}

.flash-success{
    color: #468847;
background-color: #dff0d8;
border-color: #d6e9c6;
}

.flash-info{
    color: #c09853;
background-color: #fcf8e3;
border-color: #faebcc;
}
.text-huge{
    font-size: 25px;
}
.text-medium{
    font-size: 19px;
}

.text-bold{
    font-weight: bolder;
}
.card-heading-highlight,.card-heading-highlight small{
    color: rgb(1, 99, 1);

}
.card-listing{
    min-height: 250px;
    max-height: 256px;
overflow: auto;
}
.img-thumb{
    height: 30px;
    width: 30px;
}
.rating-small{
/*    height: 10px;
    width: 30px;*/
}
/* Let's get this party started */
::-webkit-scrollbar {
    width: 6px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 0px;
    border-radius: 0px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 0px;
    border-radius: 0px;
    background: #0e90d2; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: #0e90d2; 
}